In [1]:
import sqlite3

In [4]:
con = sqlite3.connect("db1.db")

In [5]:
cur = con.cursor()

In [6]:
cur.execute('create table persons(id int, name varchar(50))')

In [7]:
cur.execute("insert into persons values(1,'name1')")

In [8]:
con.commit()

In [9]:
cur.execute("update persons set name='modified_name' where id=1")

In [10]:
con.commit()

In [11]:
cur.execute("delete from persons where id=1")

In [12]:
con.commit()

In [13]:
for i in range(100):
    cur.execute("insert into persons values({0},'name{0}')".format(i))
con.commit()

In [14]:
data = cur.execute("select * from persons")

In [15]:
data

In [16]:
print data

<sqlite3.Cursor object at 0x7f5c09f336c0>

In [17]:
data = cur.fetchall()

In [18]:
data

[(0, u'name0'),
 (1, u'name1'),
 (2, u'name2'),
 (3, u'name3'),
 (4, u'name4'),
 (5, u'name5'),
 (6, u'name6'),
 (7, u'name7'),
 (8, u'name8'),
 (9, u'name9'),
 (10, u'name10'),
 (11, u'name11'),
 (12, u'name12'),
 (13, u'name13'),
 (14, u'name14'),
 (15, u'name15'),
 (16, u'name16'),
 (17, u'name17'),
 (18, u'name18'),
 (19, u'name19'),
 (20, u'name20'),
 (21, u'name21'),
 (22, u'name22'),
 (23, u'name23'),
 (24, u'name24'),
 (25, u'name25'),
 (26, u'name26'),
 (27, u'name27'),
 (28, u'name28'),
 (29, u'name29'),
 (30, u'name30'),
 (31, u'name31'),
 (32, u'name32'),
 (33, u'name33'),
 (34, u'name34'),
 (35, u'name35'),
 (36, u'name36'),
 (37, u'name37'),
 (38, u'name38'),
 (39, u'name39'),
 (40, u'name40'),
 (41, u'name41'),
 (42, u'name42'),
 (43, u'name43'),
 (44, u'name44'),
 (45, u'name45'),
 (46, u'name46'),
 (47, u'name47'),
 (48, u'name48'),
 (49, u'name49'),
 (50, u'name50'),
 (51, u'name51'),
 (52, u'name52'),
 (53, u'name53'),
 (54, u'name54'),
 (55, u'name55'),
 (56, u'name56'),
 (57, u'name57'),
 (58, u'name58'),
 (59, u'name59'),
 (60, u'name60'),
 (61, u'name61'),
 (62, u'name62'),
 (63, u'name63'),
 (64, u'name64'),
 (65, u'name65'),
 (66, u'name66'),
 (67, u'name67'),
 (68, u'name68'),
 (69, u'name69'),
 (70, u'name70'),
 (71, u'name71'),
 (72, u'name72'),
 (73, u'name73'),
 (74, u'name74'),
 (75, u'name75'),
 (76, u'name76'),
 (77, u'name77'),
 (78, u'name78'),
 (79, u'name79'),
 (80, u'name80'),
 (81, u'name81'),
 (82, u'name82'),
 (83, u'name83'),
 (84, u'name84'),
 (85, u'name85'),
 (86, u'name86'),
 (87, u'name87'),
 (88, u'name88'),
 (89, u'name89'),
 (90, u'name90'),
 (91, u'name91'),
 (92, u'name92'),
 (93, u'name93'),
 (94, u'name94'),
 (95, u'name95'),
 (96, u'name96'),
 (97, u'name97'),
 (98, u'name98'),
 (99, u'name99')]

In [19]:
import pandas as pd

In [20]:
df = pd.read_sql("select * from persons", con)

In [21]:
df

    id    name
0    0   name0
1    1   name1
2    2   name2
3    3   name3
4    4   name4
5    5   name5
6    6   name6
7    7   name7
8    8   name8
9    9   name9
10  10  name10
11  11  name11
12  12  name12
13  13  name13
14  14  name14
15  15  name15
16  16  name16
17  17  name17
18  18  name18
19  19  name19
20  20  name20
21  21  name21
22  22  name22
23  23  name23
24  24  name24
25  25  name25
26  26  name26
27  27  name27
28  28  name28
29  29  name29
..  ..     ...
70  70  name70
71  71  name71
72  72  name72
73  73  name73
74  74  name74
75  75  name75
76  76  name76
77  77  name77
78  78  name78
79  79  name79
80  80  name80
81  81  name81
82  82  name82
83  83  name83
84  84  name84
85  85  name85
86  86  name86
87  87  name87
88  88  name88
89  89  name89
90  90  name90
91  91  name91
92  92  name92
93  93  name93
94  94  name94
95  95  name95
96  96  name96
97  97  name97
98  98  name98
99  99  name99

[100 rows x 2 columns]

In [22]:
df[df['id']==90]

    id    name
90  90  name90

In [23]:
df[df['id']>90]

    id    name
91  91  name91
92  92  name92
93  93  name93
94  94  name94
95  95  name95
96  96  name96
97  97  name97
98  98  name98
99  99  name99

In [24]:
df.plot()

In [25]:
import matplotlib.pyplot as plt

In [26]:
plt.show()