In [1]:
d={"k1":'v1','k2':[1,2,3,4],4:(1,2,3,4)}

In [2]:
d1={"name":"name1","id":1,"age":23}
d2={"street":"st1","mandal":"md1","district":"d1"}

In [3]:
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [4]:
d1-d2

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [5]:
d1*d2

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [6]:
d1/d2

TypeError: unsupported operand type(s) for /: 'dict' and 'dict'

In [7]:
d1

{'age': 23, 'id': 1, 'name': 'name1'}

In [8]:
d2

{'district': 'd1', 'mandal': 'md1', 'street': 'st1'}

In [11]:
d1={"name":"name1","id":1,"age":23}
d2={"street":"st1","mandal":"md1","district":"d1"}
print d1

{'age': 23, 'name': 'name1', 'id': 1}

In [12]:
print d2

{'mandal': 'md1', 'street': 'st1', 'district': 'd1'}

In [13]:
for i in d1:
    print i

age
name
id

In [14]:
d1

{'age': 23, 'id': 1, 'name': 'name1'}

In [15]:
d1['age']

23

In [16]:
d1.get('age')

23

In [17]:
d1['adhar']

KeyError: 'adhar'

In [18]:
d1.get('adhar')

In [19]:
d1.get('adhar', 1)

1

In [20]:
d1

{'age': 23, 'id': 1, 'name': 'name1'}

In [21]:
d2

{'district': 'd1', 'mandal': 'md1', 'street': 'st1'}

In [22]:
d1['name']="name2"

In [23]:
d1

{'age': 23, 'id': 1, 'name': 'name2'}

In [24]:
d1['adhar']="135rrtyert"

In [25]:
d1

{'adhar': '135rrtyert', 'age': 23, 'id': 1, 'name': 'name2'}

In [26]:
d1

{'adhar': '135rrtyert', 'age': 23, 'id': 1, 'name': 'name2'}

In [27]:
d2

{'district': 'd1', 'mandal': 'md1', 'street': 'st1'}

In [28]:
d1.update(d2)

In [29]:
d1

{'adhar': '135rrtyert',
 'age': 23,
 'district': 'd1',
 'id': 1,
 'mandal': 'md1',
 'name': 'name2',
 'street': 'st1'}

In [30]:
del d1['adhar']

In [31]:
d1

{'age': 23,
 'district': 'd1',
 'id': 1,
 'mandal': 'md1',
 'name': 'name2',
 'street': 'st1'}

In [32]:
d1.pop()

TypeError: pop expected at least 1 arguments, got 0

In [33]:
d1.pop("district")

'd1'

In [34]:
d1

{'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2', 'street': 'st1'}

In [35]:
d1.popitem()

('street', 'st1')

In [36]:
print d1

{'mandal': 'md1', 'age': 23, 'id': 1, 'name': 'name2'}

In [38]:
keys=['k1','k2','k3','k4']
value="dummy"
d2=d1.fromkeys(keys,value)

In [39]:
d2

{'k1': 'dummy', 'k2': 'dummy', 'k3': 'dummy', 'k4': 'dummy'}

In [40]:
d1.keys()

['mandal', 'age', 'id', 'name']

In [41]:
d1.values()

['md1', 23, 1, 'name2']

In [42]:
d1.items()

[('mandal', 'md1'), ('age', 23), ('id', 1), ('name', 'name2')]

In [44]:
for i in d1.items():
    print i
    print "*"*30

('mandal', 'md1')
******************************
('age', 23)
******************************
('id', 1)
******************************
('name', 'name2')
******************************

In [45]:
for key,value in d1.items():
    print key,value
    print "*"*30

mandal md1
******************************
age 23
******************************
id 1
******************************
name name2
******************************

In [46]:
d1

{'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [47]:
d2=d1

In [48]:
d1.update({'adhar':"asdas2131313"})

In [49]:
d1

{'adhar': 'asdas2131313', 'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [50]:
d2

{'adhar': 'asdas2131313', 'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [51]:
d4={1:10,1:200}

In [52]:
d4

{1: 200}

In [53]:
d4={1:10,1:300,1:200,1:400}

In [54]:
d4

{1: 400}

In [59]:
# what are the datatypes can use for dict keys?
#int, str, float,complex, tuple,
d1={1:2,"srt":23,1.2:"flaot",1+2j:"comp",(1,2,3):"tuple"}

In [60]:
# what are the datatypes can use for dict keys?
#int, str, float,complex, tuple, list
d1={1:2,"srt":23,1.2:"flaot",1+2j:"comp",(1,2,3):"tuple",[1,2,3]:"list"}

TypeError: unhashable type: 'list'

In [61]:
d2

{'adhar': 'asdas2131313', 'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [62]:
d1

{1: 2, (1, 2, 3): 'tuple', 1.2: 'flaot', 'srt': 23, (1+2j): 'comp'}

In [63]:
d3=d2
d4=d2.copy()

In [64]:
d3

{'adhar': 'asdas2131313', 'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [65]:
d2

{'adhar': 'asdas2131313', 'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [66]:
d4

{'adhar': 'asdas2131313', 'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [67]:
d2==d3

True

In [68]:
d4==d2

True

In [69]:
d4==d3

True

In [70]:
d2 is d3

True

In [71]:
d4 is d2

False

In [72]:
print id(d2)
print id(d3)

139678769863488
139678769863488

In [73]:
print id(d4)

139678769834256

In [74]:
d2.pop("adhar")

'asdas2131313'

In [75]:
d2

{'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [76]:
d3

{'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [77]:
d4

{'adhar': 'asdas2131313', 'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [78]:
d2

{'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [79]:
d3=d2
d4=d2.copy()

In [80]:
d2

{'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [81]:
"age" in d2

True

In [83]:
23 in d2

False

In [84]:
23 in d2.values()

True

In [85]:
d2.has_key('adhar')

False

In [86]:
d2.has_key("age")

True

In [87]:
[i+10 for i in range(-10,10,2)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [88]:
(i+10 for i in range(-10,10,2))

In [89]:
a=(i+10 for i in range(-10,10,2))

In [90]:
print a

<generator object <genexpr> at 0x7f097f767370>

In [91]:
a.next()

0

In [92]:
a.next()

2

In [93]:
a=(i+10 for i in range(-10,10,2))
for i in a:
    print i

0
2
4
6
8
10
12
14
16
18

In [94]:
for i in a:
    print i

In [96]:
a=(i+10 for i in range(-10,10,2))
print a.next()
print a.next()
print "*"*25
for i in a:
    print i

0
2
*************************
4
6
8
10
12
14
16
18

In [97]:
d2

{'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [98]:
print d2.keys()
print d2.items()
print d2.values()

['mandal', 'age', 'id', 'name']
[('mandal', 'md1'), ('age', 23), ('id', 1), ('name', 'name2')]
['md1', 23, 1, 'name2']

In [99]:
print d2.iterkeys()
print d2.iteritems()
print d2.itervalues()

<dictionary-keyiterator object at 0x7f097f7360a8>
<dictionary-itemiterator object at 0x7f097f736050>
<dictionary-valueiterator object at 0x7f097f736050>

In [100]:
print d2.viewkeys()
print d2.viewitems()
print d2.viewvalues()

dict_keys(['mandal', 'age', 'id', 'name'])
dict_items([('mandal', 'md1'), ('age', 23), ('id', 1), ('name', 'name2')])
dict_values(['md1', 23, 1, 'name2'])

In [101]:
d2

{'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [102]:
k=d2.keys()

In [103]:
k

['mandal', 'age', 'id', 'name']

In [104]:
d2.update({'adhar':"dfssdfsdfsdf"})

In [105]:
d2

{'adhar': 'dfssdfsdfsdf', 'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [106]:
print k

['mandal', 'age', 'id', 'name']

In [107]:
d2.pop("adhar")

'dfssdfsdfsdf'

In [108]:
d2

{'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [109]:
vk=d2.viewkeys()

In [110]:
vk

dict_keys(['mandal', 'age', 'id', 'name'])

In [111]:
d2.update({"adhar":"dasdasdasdas"})

In [112]:
d2

{'adhar': 'dasdasdasdas', 'age': 23, 'id': 1, 'mandal': 'md1', 'name': 'name2'}

In [113]:
vk

dict_keys(['adhar', 'mandal', 'age', 'id', 'name'])

In [116]:
keys=['k1','k2','k3']
values=['v1','v2','v3']

In [117]:
d={}
[d.update({k:v}) for k,v in zip(keys,values)]
print d

{'k3': 'v3', 'k2': 'v2', 'k1': 'v1'}

In [118]:
{k:v for k,v in zip(keys,values)}

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

In [119]:
# return and yield
def fun(a):
    return range(a)
def fun1(a):
    yield range(a)
s=fun(10)
s1=fun1(10)
print s
print s1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<generator object fun1 at 0x7f097f767780>

In [121]:
def fun(a,b,c=0,d=0):
    print a,b,c,d

In [123]:
fun(10,20)
fun(10,20,30)
fun(10,20,30,40)

10 20 0 0
10 20 30 0
10 20 30 40

In [125]:
fun(a=10,b=20)
fun(a=10,b=20,d=50)
fun(a=10,b=30,c=50)
fun(a=40,b=30,c=50,d=60)

10 20 0 0
10 20 0 50
10 30 50 0
40 30 50 60

In [126]:
fun(a=30,b=40,e=50)

TypeError: fun() got an unexpected keyword argument 'e'

In [127]:
#*kwargs
def fun(a,b,c=0,d=0,**k):
    print a,b,c,d,
    print "k=",k
fun(a=10,b=20)
fun(a=10,b=20,d=50)
fun(a=10,b=30,c=50)
fun(a=40,b=30,c=50,d=60)
fun(a=30,b=40,c=50,d=60,e=50,f=56,g=78)

10 20 0 0 k= {}
10 20 0 50 k= {}
10 30 50 0 k= {}
40 30 50 60 k= {}
30 40 50 60 k= {'e': 50, 'g': 78, 'f': 56}